[Unit]
Description="Serves up i2c sps30 data for prometheus"

[Service]
ExecStart=/usr/bin/piaq
#Restart=always

[Install]
WantedBy=multi-user.target

