# Endpoints are the file handles (everything is a file on linux) that have the data to serve
# The contents of the file will be served up as key,value pairs using the key you specify.
# The format is endpoints = ( {node_location,key_name} ... )
endpoints: (
  {node:"/home/hook/ws/pi0/dev/sps30-endpoint/e1"; key:"e1"},
  {node:"/home/hook/ws/pi0/dev/sps30-endpoint/e2"; key:"e2"}
)

# Sleep must be in whole seconds. We will parse floats, and you can try 5.2
# here, but you may find problems in future versions
sleep:5
